### 튜플(tuple) : 불변형(immutable), 시퀀스형, () : 소괄호 사용, 중복 데이터 허용

In [1]:
a = (1,2,3,4,5)
print(a,type(a)) # <class 'tuple'>

(1, 2, 3, 4, 5) <class 'tuple'>

In [4]:
# indexing
print(a[0],a[1],a[2],a[-1],a[-2],a[True],a[False])

# a[0] = 10  # TypeError  , 요소 변경 불가

1 2 3 5 4 2 1

In [7]:
b = list(a)
b[0] = 10
b = tuple(b)
print(b)

(10, 2, 3, 4, 5)

In [11]:
# slicing
print(a[:])
print(a[::2])
print(a[::-1])  # 순서를 거꾸로 변경

# a[0:3] = (10,20,30)  # TypeError , 요소 변경 불가

(1, 2, 3, 4, 5)
(1, 3, 5)
(5, 4, 3, 2, 1)

In [14]:
# 패킹(packing), 언패킹(unpacking) 튜플
t = 1,2,'hello'  # 괄호 생략이 가능, 쉼표로 데이터가 구분되어 있으면 튜플, 패킹
print(t,type(t))  # <class 'tuple'>

x,y,z = t    # 언패킹
print(x,y,z)
print(type(x),type(y),type(z))

(1, 2, 'hello') <class 'tuple'>
1 2 hello
<class 'int'> <class 'int'> <class 'str'>

In [15]:
a,b,c = 10,20,'hi'   # 언패킹
print(a,b,c)

10 20 hi

In [33]:
t = (1,2,3,4,5,6,7)  # 패킹
# a,b = t  # ValueError: too many values to unpack (expected 2)
a,b,_,c,_,d,_ = t  # 언패킹, '_'는 일반 변수와 같음, 주로 사용되지 않을 값을 변수로 할당시 사용
print(a,b,c,d)

# 확장된 언패킹
a,*b = t
print(a)   # 첫 번째 요소
print(b)   # 나머지 요소를 모두 리스트로 할당

*a,b = t
print(a)   # 나머지 요소를 모두 리스트로 할당
print(b)   # 마지막 요소

a,b,*c = t
print(a)   # 첫 번째 요소
print(b)   # 두 번째 요소
print(c)   # 나머지 요소를 모두 리스트로 할당

a,*b,c = t
print(a)   # 첫 번째 요소
print(b)   # 나머지 요소를 모두 리스트로 할당
print(c)   # 마지막 요소

# a,*b,*c = t  # SyntaxError

1 2 4 6
1
[2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
7
1
2
[3, 4, 5, 6, 7]
1
[2, 3, 4, 5, 6]
7

In [51]:
# 리스트와 문자열도 언패킹과 확장 언패킹 가능
a,b = [10,20]   # 리스트의 언패킹
print(a,b)

a,b = 'hi'      # 문자열의 언패킹
print(a,b)

a,*b = 'hello'  # 문자열의 확장 언패킹
print(a)
print(b)        # 나머지 요소를 모두 리스트로 할당

10 20
h i
h
['e', 'l', 'l', 'o']

In [58]:
t = ()  # 빈 튜플
l = []  # 빈 리스트
print(type(t))

t = (10)  # t = 10  , <class 'int'>
print(type(t))

t = (10,) # <class 'tuple'>
print(type(t))

t = 10,
print(t,type(t))  # (10,) <class 'tuple'>
print(t[0])

l = [10]
print(type(l))  # <class 'list'>

<class 'tuple'>
<class 'int'>
<class 'tuple'>
(10,) <class 'tuple'>
10
<class 'list'>

In [62]:
# 두 개의 값을 서로 변경하는 코드
# x : 1, y = 2

# (1) 전통 언어 방식
x = 1
y = 2
temp = x
x = y
y = temp
print(x,y)

# (2) 파이썬 방식(튜플의 언패킹 사용)
x,y = 1,2
x,y = y,x
print(x,y)

2 1
2 1

In [69]:
# 연산자  : + , *
t1 = (1,2,3)
t2 = ('apple','banana')
t3 = t1 + t2
print(t3)

t3 = t1.__add__(t2)
print(t3)

t4 = t3*3
print(t4)

print(sum(t1))
print(len(t1))

(1, 2, 3, 'apple', 'banana')
(1, 2, 3, 'apple', 'banana')
(1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana')
6
3

In [70]:
t = (1,2,3,4,2,2,3)
print(t.count(2))   # 요소 2의 갯수

3

In [78]:
print(t.index(2))     # 요소 2 가 처음 나오는 위치(인덱스)를 반환
print(t.index(2,3))   # 요소 2 를 인덱스 3 부터 나오는 위치(인덱스)를 반환

1
4

In [80]:
# del t[0]  # TypeError